<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	<connectionStrings>
  <add name="sql" connectionString="Server=.;integrated security=true;Database=Prestamos" />
  <add name="form4.Properties.Settings.PRESTAMOSConnectionString"
   connectionString="Data Source=.;Initial Catalog=PRESTAMOS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	
</configuration>